<div class="container-login">
            <div class="alerta-senha">
                <p>Error: Campo senha vazio!</p>
            </div>
            <div class="alerta-email">
                <p>Error: Campo email vazio!</p>
            </div>
            <div class="alerta-tres">
                <p>Error: Os campos devem ter no mínimo 3 caracteres!</p>
            </div>
            <div class="alerta-bd">
                <p>Error: Usuário não encontrado!</p>
            </div>
            <form class="form-login">
                <div class="div-login">
                    <input type="text" placeholder="Email" class="input-email">
                    <input type="password" placeholder="Senha" class="input-senha">
                    <br>
                    <button type="button" class="btn-entrar">Entrar</button>
                    <button type="button" class="btn-fechar">Fechar</button>
                </div>
            </form>
            <div class="estado-login">
                <div class="login-efetuado">
                    <p>Login efetuado com sucesso!</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg>
                    
                </div>
            </div>
        </div>
        <div class="main">
            <div class="area-cabecalho">
                <div class="logo-menu">
                    <span class="hamburger"></span>
                    <span class="hamburger"></span>
                    <span class="hamburger"></span>
                    <img src="https://betway.com/welcome/images/betway.svg" class="logo">
                </div>
                <nav class="menu">
                        <a href="">esportes</a>
                        <a href="">cassino</a>
                        <a href="">cassino ao vivo</a>
                        <a href="">vegas</a>
                        <a href="">e-sports</a>
                        <a href="">promoções</a>
                        <button class="login">Login</button>
                        <button class="registrar_menu">Registrar</button>
                </nav>
            </div> <!--FIM CABEÇALHO-->
            
            <div class="conteudo">
                <div class="menu-mobile">
                    <a href="">esportes</a>
                    <a href="">e-sports</a>   
                    <a href="">cassino</a>
                </div>
                <p class="subTitle">BÔNUS DE BOAS-VINDAS</p>
                <p class="title">100%, até R$300 via PIX</p>
                <br>
                <button class="registrar">Registrar</button>
                <div class="fundo-mobile"></div>
            </div>
            <div class="boasVindas">
                <p>
                    Bônus de Boas Vindas: Promoção válida no primeiro depósito bem-sucedido. 
                    Apenas válido para depósito via PIX. Bônus exclusivo para novos clientes. 
                    Somente 1 bônus é permitido a cada novo cliente. Valor mínimo do depósito R$40. 
                    Valor máximo do bônus R$300. 7) O bônus é válido por um período de 7 dias após ter sido creditado. 
                    O bônus está sujeito a 6x aos requisitos de jogo. Outros termos se aplicam. Termos e Condições - 
                    Bônus de Boas-Vindas
                </p>
                <p class="termos">Termos e Condições - Bônus de Boas-Vindas</p>
            </div>
            
            <div class="bolinha"><button></button></div>

            <div class="conteudo-api">
                <div class="cabecalho-api">
                    <a href="https://ygoprodeck.com/card-database/?&sort=name&num=24&offset=0" target="_blank"><img src="/public/images/Yu-Gi-Oh_Logo.webp" class="logo logo-yugioh"></a>
                </div> 
                <label for="busca" class="margem-left-10px">Nome da carta:</label>
                <br>
                
                <input class="cardName margem-left-10px" type="text" name="busca" value="" list="cartas" required>
                
                <datalist id="cartas">

                </datalist>
                <button class="cartaNome">Pesquisar</button>
                <p class="aviso"></p>
                <!-- 
                <select name="Lista-de-cartas" id="cartas">
                    <option value="cartas" selected>Cartas</option>
                </select>
                -->
                <ul class="cartaInput"></ul>
                <br><br>
                <button class="cartaAleatoria margem-left-10px">Carta Aleatória</button>
                <ul class="aleatorio"></ul>
            </div>
            <div class="container-cartas">
                <img src="/public/images/verso_carta.jpg" alt="" class="verso-carta">
                <img src="/public/images/verso_carta.jpg" alt="" class="verso-carta2">
                <img src="/public/images/verso_carta.jpg" alt="" class="verso-carta3">
                <img src="/public/images/verso_carta.jpg" alt="" class="verso-carta4">
                <img src="/public/images/verso_carta.jpg" alt="" class="verso-carta5">
                <img src="/public/images/verso_carta.jpg" alt="" class="verso-carta6">
                <img src="/public/images/verso_carta.jpg" alt="" class="verso-carta7">
                <img src="/public/images/verso_carta.jpg" alt="" class="verso-carta8">
            </div>
        </div>    
        </div> <!--FIM MAIN-->       
        <script src="/public/js/script.js"></script>  