<h1>Criar usuario</h1>

<form action="/sobre" method="POST">

    <div class="form-control">
        <label for="emai">Email:</label>
        <input type="text" name="email" placeholder="Digite o email">
    </div>
    <div class="form-control">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" placeholder="Digite a senha">
    </div>
    <div class="form-control">
        <label for="admin">Admin:</label>
        <input type="text" name="admin" placeholder="Digite o admin">
    </div>
    <input type="submit" value="Cadastrar">
</form>

<h2>Usuários já cadastrados</h2>
<ul>
    {{#each users}}
        <li>{{this.email}}</li>
        <li>{{this.admin}}</li>
    {{/each}}
</ul>